@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400&display=swap");
:root {
  --main-color: rgb(255, 203, 34);
  --accent-color: rgb(5, 155, 79);
  --empty-color: rgb(241, 241, 241);
}

*, *::before, *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  background: var(--main-color);
  font-family: 'Nunito', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.2rem;
}

body > div {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body > div > * {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

button {
  background: var(--accent-color);
  color: white;
  padding: 1em;
  border: 0.125rem solid var(--accent-color);
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  cursor: pointer;
  text-transform: uppercase;
}

button.generator {
  margin: auto 0;
  padding: 2em;
  font-size: 1.5rem;
}

button.alt {
  background: transparent;
  color: var(--accent-color);
  font-weight: 600;
}

button.alt-boxless {
  background: transparent;
  border-color: transparent;
  color: var(--accent-color);
  font-weight: 400;
}

header, main {
  width: 100%;
  padding: 1rem;
}

@media (min-width: 550px) {
  header, main {
    padding: 3rem clamp(1rem, 25vw, 30rem);
  }
}

header {
  min-height: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header h1 {
  font-size: clamp(2rem, 8vw, 4rem);
}

.field-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  margin-bottom: 1rem;
}

.field-group input {
  padding: 0.5em 1em;
  border-radius: 0.25rem;
  border: none;
  background: white;
  -webkit-box-shadow: 0.25rem 0.25rem 1rem -0.25rem rgba(0, 0, 0, 0.096);
          box-shadow: 0.25rem 0.25rem 1rem -0.25rem rgba(0, 0, 0, 0.096);
  max-width: 55ch;
}

.button-group {
  margin: 2rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.5rem;
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out;
          animation: fade-in 200ms ease-in-out;
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

.fade-to-white {
  -webkit-animation: fade-to-white 200ms ease-in-out forwards;
          animation: fade-to-white 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade-to-white {
  from {
    background-color: var(--main-color);
  }
  to {
    background-color: var(--empty-color);
  }
}

@keyframes fade-to-white {
  from {
    background-color: var(--main-color);
  }
  to {
    background-color: var(--empty-color);
  }
}
/*# sourceMappingURL=style.css.map */