@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
  --main: rgb(219, 219, 219);
  --secondary: rgb(1, 100, 146);
  --accent: rgb(241, 241, 241);
  --body: rgb(71, 71, 71);
  --sky: rgb(107, 166, 255);
  --icon: rgb(251, 255, 0);
  --transition-time: 250ms;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  transition-property: background, color, transform;
  transition: var(--transition-time) ease-in-out;
}

body {
  background-color: var(--main);
  padding: clamp(1rem, 5vw, 3rem);

  @media (min-width: 750px) {
    padding: 10vh clamp(1rem, 15vw, 20rem);
  }
}

h1 {
  margin-bottom: 0.5em;
  color: var(--secondary);
  font-size: 3em;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

li {
  margin: 0.25em 0;
  padding: .75em 1.25em;
  background-color: var(--accent);
  border-radius: 2rem;
  color: var(--body);
  font-size: 1.1em;
}

.dark-mode-toggle {
  width: 100px;
  height: 50px;
  margin: 1.5rem 0 3rem;

  button {
    background: var(--sky);
    border: none;
    width: 100%;
    height: 100%;
    position: relative;
    border-radius: 10em;
    cursor: pointer;
    
    &::before {
      position: absolute;
      content: "";
      height: 0.75rem;
      width: 0.75rem;
      top: 50%;
      right: 0;
      box-shadow: 0.35rem 0.35rem var(--secondary);
      opacity: 0;
      transform: translate(3rem, -50%) rotate(135deg);
      transition-property: transform, opacity;
      transition: var(--transition-time) ease-in-out;
    }

    &:focus {
      outline: none;

      &::before {
        opacity: 1;
        transform: translate(2rem, -50%) rotate(135deg);
      }
    }


    div {
      position: absolute;
      top: 50%;
      left: 0;
      height: 4ch;
      width: 4ch;
      background: var(--icon);
      border-radius: 50%;
      transform: translate(15px, -50%);
      transition-property: transform;

      &::before {
        content: "";
        position: absolute;
        width: 75%;
        height: 75%;
        border-radius: 50%;
        top: 50%;
        left: 0;
        background: var(--sky);
        transform-origin: left center;
        transform: scale(0) translate(-10%, -50%);
        transition-property: transform;
        transition: var(--transition-time) ease-in-out;
      }

      &.dm {
        transform: translate(55px, -50%);

        &::before {
          transform: scale(1) translate(-10%, -50%);
        }
      }
    }
  }
}