* {
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-top: 4.25rem;
  display: grid;
  flex-direction: column;
  grid-template-columns: 1fr;
  gap: 0.25rem;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  max-width: 100vw;
  background: rgb(36, 36, 36);

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body > button {
  width: 100%;
  height: 100%;
  font-size: clamp(1.2rem, 5vw, 2rem);
  cursor: pointer;
  position: relative;
  background: rgb(27, 56, 61);
  border: none;
  color: white;
  padding: 4rem 2rem;
  text-transform: uppercase;
  transition-property: background-color, filter;
  transition: 200ms ease-in-out;
  word-wrap: break-word;
  word-break: break-all;
}

body > button:hover {
  filter: brightness(1.2);
}

body > button[data-checked="true"] {
  background: rgb(17, 71, 51);
}

body > button::before,
body > button::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 50%;
  background: red;
  width: clamp(6rem, 10vw, 12rem);
  height: 2rem;
  border-radius: 10rem;
  box-shadow: 0.5rem 0.5rem 1rem -0.5rem rgba(0, 0, 0, 0.315);
  transform: translate(-50%, -50%) rotate(0);
  opacity: 0;
  transition-property: opacity, transform;
  transition: 200ms ease-in-out;
}

body > button[data-checked="true"]::before,
body > button[data-checked="true"]::after {
  opacity: 1;
}

body > button[data-checked="true"]::before {
  background: rgb(189, 39, 12);
  transform: translate(-50%, -50%) rotate(135deg);
}

body > button[data-checked="true"]::after {
  transform: translate(-50%, -50%) rotate(225deg);
}

#bingo {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: green;
  font-size: 4rem;
  color: white;
  display: none;
  place-items: center;
  z-index: 100;

  place-items: center;
  overflow: hidden;
}

#bingo[data-open="true"] {
  display: grid;
  grid-template-rows: 3fr 2fr;
  animation: fade-in 500ms ease-in-out forwards;
}

#bingo > h1 {
  font-size: clamp(4rem, 12vw, 12rem);
  margin: 0;
}

#replay {
  padding: 1em clamp(1em, 4vw, 2em);
  font-size: clamp(1rem, 5vw, 2rem);
  text-transform: uppercase;
  background: white;
  border: none;
  cursor: pointer;
  border-radius: 10rem;
  max-width: 100vw;
  transition-property: background-color, color, box-shadow;
  transition: 100ms ease-in-out;
}

#replay:hover {
  background: #00bead;
  color: white;
}

#replay:focus {
  outline: none;
  box-shadow: 0 0 0 0.5rem green, 0 0 0 1rem #00bead;
}

#logo {
  position: absolute;
  left: 50%;
  top: 0;
  max-width: 6rem;
  height: auto;
  transform: translateX(-50%);
  z-index: 5;
  pointer-events: none;
}

@media (min-width: 750px) {
  body {
    padding: 3rem;
    grid-template-columns: repeat(3, 33%);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}