@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");

body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h1, h2, h3, h4, h5 {
  margin: 0.5em 0;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem;
  position: relative;
  min-height: 100vh;
  z-index: 1;
  color: white;

  @media (min-width: 500px) {
    padding: 1rem clamp(1rem, 15vw, 25rem);
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &::before {
    background-image: url("../img/bg-header.jpg");
    background-position: bottom center;
    background-size: cover;
    background-attachment: fixed;

    z-index: -2;
  }

  &::after {
    background: black;
    opacity: 0.5;
    z-index: -1;
  }

  h1 {
    font-size: clamp(1.5rem, 7vw, 3rem);
    font-weight: 200;
    text-transform: uppercase;
  }
}

a {
  text-decoration: none;
}

section {
  margin: 3rem 0;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32ch, 1fr));

  @media (min-width: 500px) {
    padding: 1rem clamp(1rem, 15vw, 25rem);
  }

  button {
    border: none;
    background: orange;
    color: white;
    padding: 1em 2em;
    cursor: pointer;
    font-size: 2rem;
    text-transform: uppercase;
    box-shadow: 0 0.9rem 0 -0.75rem rgba(0, 0, 0, 0.199);
    position: relative;
    transition: filter 150ms ease-in-out;

    &::before {
      position: absolute;
      content: '';
      z-index: -1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transition: box-shadow 150ms ease-in-out;
    }

    &:active {
      transform: translateY(1px);
      box-shadow: 0 0.85rem 0 -0.8rem rgba(0, 0, 0, 0.199);
    }

    &:focus {
      outline: none;
      filter: brightness(1.1);
      
      &::before {
        box-shadow: 0 0 0 0.5rem white, 0 0 0 1rem orange;
      }
    }
  }
}

article {
  margin: 0.5rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.5rem;
  padding: 1em;
  box-shadow: 1rem 1rem 1.75rem -1rem rgba(63, 49, 9, 0.14);
  border: 1px solid rgb(240, 240, 240);

  h2 {
    margin: 0 0 1em;
  }

  img {
    width: 100%;
    height: auto;
    border-radius: 0.25rem;
  }

  p {
    margin: 1em 0;
  }

  small {
    display: block;
    color: grey;
  }
}
