:root {
  --main-bg: rgb(231, 231, 231);
  --main-color: #f39e9e;
  --main-dark: #cf1313;
}

* {
  box-sizing: border-box;
}

body {
  background: var(--main-bg);
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 0.8rem;
}

#options {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  @media (min-width: 700px) {
    flex-flow: row;
    justify-content: center;
  }

  button {
    border: none;
    background: transparent;
    padding: 2rem;
    margin: 1rem;
    cursor: pointer;
    border-radius: 50%;
    transition-property: transform, box-shadow, opacity;
    transition: 250ms ease-in-out;
    
    &:hover, &:focus, &:active {
      transform: scale(1.075);
      outline: none;
    }

    &:focus {
      box-shadow: 0 0 0 0.5rem black;
    }

    img {
      max-width: 100px;
      height: auto;
    }

    &.selected {
      transform: scale(1.075);
      transition: transform 500ms ease-in-out;
      pointer-events: none;
    }
  }

  .results {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: opacity 300ms ease-in-out;
    gap: 1.5rem;

    h1 {
      width: 100%;
      text-align: center;
    }

    .replay {
      background: transparent;
      color: var(--main-dark);
      border: 0.25rem solid var(--main-dark);
      border-radius: 0;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 1rem 1.5rem;
      position: relative;
      z-index: 1;

      &:focus, &:hover {
        transform: none;
        color: white;
        border-color: var(--main-dark);
        box-shadow: none;

        &::before {
          transform: scale(1);
        }
      }

      &:focus {
        box-shadow: 0 0 0 0.25rem var(--main-bg),
          0 0 0 0.5rem black;
      }

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: var(--main-dark);
        z-index: -1;
        transform: scaleX(0);
        transform-origin: left center;
        transition: transform 200ms ease-in-out;
      }
    }

    .result-images {
      display: flex;
      flex-flow: column-reverse;
      position: relative;
      padding: 1rem 0;

      @media (min-width: 700px) {
        flex-flow: row;
      }

      &::before {
        content: "VOCÊ";
        position: absolute;
        font-size: 1.5rem;
        padding: 0.5em;
        background: black;
        color: white;
        font-weight: 600;
        top: 92%;
        left: 0;
        transform: rotate(7deg);

        @media (min-width: 700px) {
          padding: 1em;
          top: 50%;
          left: 0;
          transform: translate(-100%, -50%) rotate(-7deg);
        }
      }
  
      &::after {
        content: "BOT";
        position: absolute;
        font-size: 1.5rem;
        padding: 0.5em;
        background: black;
        color: white;
        font-weight: 600;
        top: -7%;
        right: 0;
        transform: rotate(7deg);

        @media (min-width: 700px) {
          padding: 1em;
          top: 50%;
          right: 0;
          transform: translate(100%, -50%) rotate(-7deg);
        }
      }
  
      img {
        max-width: 100px;
        height: auto;
        margin: 1.2rem;
      }
    }

    .score {
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: relative;

      h2 {
        font-size: 1.5rem;
        margin: 2rem;
      }

      &::before {
        content: '×';
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 1.5rem;
        font-weight: 600;
        transform: translate(-50%, -50%);
        color: var(--main-dark);
      }
    }
  }
}

.remove {
  opacity: 0;
  pointer-events: none;
}