@charset "UTF-8";
:root {
  --main-bg: rgb(231, 231, 231);
  --main-color: #f39e9e;
  --main-dark: #cf1313;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: var(--main-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 0.8rem;
}

#options {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media (min-width: 700px) {
  #options {
    height: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#options button {
  border: none;
  background: transparent;
  padding: 2rem;
  margin: 1rem;
  cursor: pointer;
  border-radius: 50%;
  -webkit-transition-property: opacity, -webkit-transform, -webkit-box-shadow;
  transition-property: opacity, -webkit-transform, -webkit-box-shadow;
  transition-property: transform, box-shadow, opacity;
  transition-property: transform, box-shadow, opacity, -webkit-transform, -webkit-box-shadow;
  -webkit-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
}

#options button:hover, #options button:focus, #options button:active {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
  outline: none;
}

#options button:focus {
  -webkit-box-shadow: 0 0 0 0.5rem black;
          box-shadow: 0 0 0 0.5rem black;
}

#options button img {
  max-width: clamp(70px, 7vw, 125px);
  height: auto;
}

#options button.selected {
  -webkit-transform: scale(1.075);
          transform: scale(1.075);
  -webkit-transition: -webkit-transform 500ms ease-in-out;
  transition: -webkit-transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out;
  transition: transform 500ms ease-in-out, -webkit-transform 500ms ease-in-out;
  pointer-events: none;
}

#options .results {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  gap: 1.5rem;
}

@media (min-width: 700px) {
  #options .results {
    height: unset;
  }
}

#options .results h1 {
  width: 100%;
  text-align: center;
}

#options .results .replay {
  background: transparent;
  color: var(--main-dark);
  border: 0.25rem solid var(--main-dark);
  border-radius: 0;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
  position: relative;
  z-index: 1;
  margin: 0 0 1rem 0;
}

#options .results .replay:focus, #options .results .replay:hover {
  -webkit-transform: none;
          transform: none;
  color: white;
  border-color: var(--main-dark);
  -webkit-box-shadow: none;
          box-shadow: none;
}

#options .results .replay:focus::before, #options .results .replay:hover::before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

#options .results .replay:focus {
  -webkit-box-shadow: 0 0 0 0.25rem var(--main-bg), 0 0 0 0.5rem black;
          box-shadow: 0 0 0 0.25rem var(--main-bg), 0 0 0 0.5rem black;
}

#options .results .replay::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--main-dark);
  z-index: -1;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

#options .results .result-images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-flow: column-reverse;
          flex-flow: column-reverse;
  position: relative;
  padding: 1rem 0;
}

@media (min-width: 700px) {
  #options .results .result-images {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row;
            flex-flow: row;
  }
}

#options .results .result-images::before {
  content: "VOCÊ";
  position: absolute;
  font-size: 1.5rem;
  padding: 0.5em;
  background: black;
  color: white;
  font-weight: 600;
  top: 85%;
  left: 0;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
}

@media (min-width: 700px) {
  #options .results .result-images::before {
    padding: 1em;
    top: 50%;
    left: 0;
    -webkit-transform: translate(-100%, -50%) rotate(-7deg);
            transform: translate(-100%, -50%) rotate(-7deg);
  }
}

#options .results .result-images::after {
  content: "BOT";
  position: absolute;
  font-size: 1.5rem;
  padding: 0.5em;
  background: black;
  color: white;
  font-weight: 600;
  top: -8%;
  right: 0;
  -webkit-transform: rotate(7deg);
          transform: rotate(7deg);
}

@media (min-width: 700px) {
  #options .results .result-images::after {
    padding: 1em;
    top: 50%;
    right: 0;
    -webkit-transform: translate(100%, -50%) rotate(-7deg);
            transform: translate(100%, -50%) rotate(-7deg);
  }
}

#options .results .result-images img {
  max-width: clamp(50px, 5vw, 125px);
  height: auto;
  margin: 1.2rem;
}

#options .results .score {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: relative;
}

#options .results .score h2 {
  font-size: 1.5rem;
  margin: 1rem;
}

#options .results .score::before {
  content: '×';
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 1.5rem;
  font-weight: 600;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: var(--main-dark);
}

.remove {
  opacity: 0;
  pointer-events: none;
}
/*# sourceMappingURL=style.css.map */