@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  -webkit-transition: background-color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}

body[data-theme="light"] {
  --main-bg: rgb(234, 234, 234);
  --header-bg: rgb(223, 223, 223);
  --header-comp-a: rgb(182, 255, 171);
  --header-comp-b: white;
  --logo: black;
  --logo-off: dodgerblue;
  --card-bg: white;
  --card-font: black;
  --card-bg-back: dodgerblue;
  --card-font-back: white;
  --blurb-bg: white;
  --blurb-input-bg: var(--main-bg);
  --blurb-input-border: var(--blurb-text);
  --blurb-input-border-focus: dodgerblue;
  --blurb-text: black;
  --sky: rgb(107, 166, 255);
  --sun-moon: rgb(251, 255, 0);
  --link: dodgerblue;
  --error: red;
}

body[data-theme="dark"] {
  --main-bg: rgb(34, 34, 34);
  --header-bg: rgb(15, 15, 15);
  --header-comp-a: rgb(70, 155, 0);
  --header-comp-b: rgb(125, 78, 0);
  --logo: rgb(255, 255, 255);
  --logo-off: dodgerblue;
  --card-bg: rgb(33, 51, 55);
  --card-font: rgb(255, 255, 255);
  --card-bg-back: dodgerblue;
  --card-font-back: white;
  --blurb-bg: rgb(29, 38, 41);
  --blurb-input-bg: rgb(40, 49, 53);
  --blurb-input-border: rgb(98, 98, 98);
  --blurb-input-border-focus: dodgerblue;
  --blurb-text: rgb(255, 255, 255);
  --sky: rgb(18, 11, 35);
  --sun-moon: rgb(254, 255, 196);
  --link: dodgerblue;
  --error: tomato;
}

body[data-theme="contrast"] {
  --main-bg: dodgerblue;
  --header-bg: black;
  --header-comp-a: dodgerblue;
  --header-comp-b: dodgerblue;
  --logo: white;
  --logo-off: dodgerblue;
  --card-bg: white;
  --card-font: black;
  --card-bg-back: black;
  --card-font-back: white;
  --blurb-bg: white;
  --blurb-input-bg: rgb(222, 239, 255);
  --blurb-input-border: var(--blurb-text);
  --blurb-input-border-focus: dodgerblue;
  --blurb-text: black;
  --sky: dodgerblue;
  --sun-moon: white;
  --link: dodgerblue;
  --error: black;
}

body {
  min-height: 100vh;
  background: var(--main-bg);
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: var(--link);
  -webkit-transition: -webkit-box-shadow 100ms linear;
  transition: -webkit-box-shadow 100ms linear;
  transition: box-shadow 100ms linear;
  transition: box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
}

a:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.25rem var(--blurb-bg), 0 0 0 0.5rem var(--link);
          box-shadow: 0 0 0 0.25rem var(--blurb-bg), 0 0 0 0.5rem var(--link);
}

kbd {
  padding: 0.25rem 0.5rem;
  background: var(--card-bg);
  border-radius: 0.5rem;
}

.no-cards {
  color: var(--blurb-input-border);
  font-size: 1.5rem;
  line-height: 1.5;
  margin: 1em;
}

@media (min-width: 600px) {
  .no-cards {
    margin: 0;
  }
}

.no-cards[data-hide="true"] {
  display: none;
}

.no-cards button {
  display: inline-block;
  padding: 0;
  border-radius: 50%;
  background: var(--header-comp-a);
  width: 2rem;
  height: 2rem;
  text-align: center;
  vertical-align: middle;
  position: relative;
  -webkit-box-shadow: 0 0 0 1px var(--card-font), 0.125rem 0.125rem 0.25rem -0.2rem var(--logo);
          box-shadow: 0 0 0 1px var(--card-font), 0.125rem 0.125rem 0.25rem -0.2rem var(--logo);
  isolation: isolate;
  overflow: hidden;
  border: none;
  font-size: inherit;
  cursor: pointer;
}

.no-cards button::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-transform: translate(-12.5%, -12.5%) rotate(45deg);
          transform: translate(-12.5%, -12.5%) rotate(45deg);
  z-index: -1;
}

.no-cards button::after {
  position: absolute;
  top: 50%;
  left: 50%;
  content: "+";
  color: var(--logo);
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding-bottom: 0.15rem;
}

#header {
  background: var(--header-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
}

@media (min-width: 600px) {
  #header {
    padding: 1rem 15vw;
  }
}

#header h1 {
  font-family: "Alumni Sans", "Arial", sans-serif;
  color: var(--logo);
}

#header h1 span {
  font-family: inherit;
  color: var(--logo-off);
}

#header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  list-style-type: none;
}

#header ul li {
  position: relative;
  margin: 0.5rem;
}

#header ul li > button {
  background: transparent;
  border: none;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 100ms linear;
  transition: -webkit-box-shadow 100ms linear;
  transition: box-shadow 100ms linear;
  transition: box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
}

#header ul li > button:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.25rem var(--header-bg), 0 0 0 0.5rem var(--link);
          box-shadow: 0 0 0 0.25rem var(--header-bg), 0 0 0 0.5rem var(--link);
}

#header ul li > button.btn {
  font-family: 'Ubuntu Mono', monospace;
  isolation: isolate;
  color: var(--logo);
  border-radius: 50%;
  width: 2.75rem;
  height: 2.75rem;
  overflow: hidden;
  position: relative;
}

#header ul li > button.btn::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0.05);
  -webkit-transform: translate(-12.5%, -12.5%) rotate(45deg);
          transform: translate(-12.5%, -12.5%) rotate(45deg);
  z-index: -1;
}

#header ul li > button.new {
  background-color: var(--header-comp-a);
  padding-bottom: 0.25rem;
  font-size: 2rem;
}

#header ul li > button.about {
  background-color: var(--header-comp-b);
  font-size: 1.5rem;
  padding-bottom: 0.125rem;
}

.floating-blurb {
  isolation: isolate;
  position: absolute;
  top: calc(100% + 1.5rem);
  left: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 0.75rem;
  padding: 1rem;
  background: var(--blurb-bg);
  color: var(--blurb-text);
  border-radius: 0.5rem;
  -webkit-transform: translate(-75%, 0) scale(1);
          transform: translate(-75%, 0) scale(1);
  -webkit-box-shadow: 0.25rem 0.25rem 1rem -0.5rem rgba(0, 0, 0, 0.397);
          box-shadow: 0.25rem 0.25rem 1rem -0.5rem rgba(0, 0, 0, 0.397);
  opacity: 1;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform;
  z-index: 10;
}

.floating-blurb[aria-expanded="false"] {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  opacity: 0;
}

.floating-blurb::before {
  --dimensions: 1rem;
  width: var(--dimensions);
  height: var(--dimensions);
  position: absolute;
  top: -0.5rem;
  left: 75%;
  z-index: -1;
  content: "";
  background: inherit;
  -webkit-transform: translateX(-50%) rotate(45deg);
          transform: translateX(-50%) rotate(45deg);
}

.floating-blurb p {
  margin: 1rem;
}

.floating-blurb .input-submit {
  background: transparent;
  border: none;
  margin-left: auto;
  cursor: pointer;
  position: relative;
  padding: 0;
}

.floating-blurb .input-submit::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  width: 0.4rem;
  height: 0.4rem;
  border-radius: 50%;
  background: var(--blurb-input-border);
  -webkit-transform: translate(-200%, -70%) scale(0);
          transform: translate(-200%, -70%) scale(0);
  -webkit-transition: -webkit-transform 100ms linear;
  transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
  transition: transform 100ms linear, -webkit-transform 100ms linear;
}

.floating-blurb .input-submit:focus::before {
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.175, 0.885, 0.32, 3);
  transition: -webkit-transform 200ms cubic-bezier(0.175, 0.885, 0.32, 3);
  transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 3);
  transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 3), -webkit-transform 200ms cubic-bezier(0.175, 0.885, 0.32, 3);
  -webkit-transform: translate(-200%, -50%) scale(1);
          transform: translate(-200%, -50%) scale(1);
}

.floating-blurb .input-submit:focus {
  outline: none;
}

.floating-blurb .input-group {
  width: 100%;
  position: relative;
}

.floating-blurb .input-group p {
  background: transparent;
  color: var(--error);
  font-size: 0.75rem;
  padding: 0.5rem;
  margin: 0;
}

.floating-blurb .input-group p:empty {
  display: none;
}

.floating-blurb .input-group input {
  width: 25ch;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid var(--blurb-input-border);
  background: var(--blurb-input-bg);
  color: var(--blurb-text);
  -webkit-transition: border 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
  transition: border 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
  transition: border 150ms ease-in-out, box-shadow 150ms ease-in-out;
  transition: border 150ms ease-in-out, box-shadow 150ms ease-in-out, -webkit-box-shadow 150ms ease-in-out;
}

.floating-blurb .input-group input:focus {
  -webkit-box-shadow: 0 2px 0 -1px var(--blurb-input-border);
          box-shadow: 0 2px 0 -1px var(--blurb-input-border);
  border-bottom-color: var(--blurb-input-border-focus);
  outline: none;
}

.floating-blurb .input-group::before {
  content: attr(data-tag);
  position: absolute;
  top: 0;
  left: 0.5rem;
  padding: 0.05rem 0.125rem;
  background: var(--blurb-bg);
  color: var(--blurb-input-text);
  font-size: 0.75rem;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.floating-blurb img {
  max-width: 1.5rem !important;
  height: auto;
}

#main {
  padding: 1rem;
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
  -ms-grid-columns: (minmax(15rem, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

@media (min-width: 600px) {
  #main {
    padding: 3rem 15vw;
  }
}

#main .card-body-outer {
  width: 100%;
  height: 10rem;
  background: transparent;
  border-radius: 0.5rem;
  -webkit-perspective: 1000rem;
          perspective: 1000rem;
  cursor: pointer;
  position: relative;
  border: none;
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in-out, -webkit-box-shadow 100ms linear;
  transition: opacity 200ms ease-in-out, -webkit-box-shadow 100ms linear;
  transition: opacity 200ms ease-in-out, box-shadow 100ms linear;
  transition: opacity 200ms ease-in-out, box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
}

#main .card-body-outer[data-delete="true"] {
  opacity: 0;
}

#main .card-body-outer::after {
  position: absolute;
  content: "";
  left: 0.5rem;
  top: 0.5rem;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background: pink;
  z-index: 100;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 100ms linear;
  transition: -webkit-transform 100ms linear;
  transition: transform 100ms linear;
  transition: transform 100ms linear, -webkit-transform 100ms linear;
}

#main .card-body-outer:focus {
  outline: none;
}

#main .card-body-outer:focus::after {
  -webkit-transition: -webkit-transform 200ms cubic-bezier(0.175, 0.885, 0.32, 3);
  transition: -webkit-transform 200ms cubic-bezier(0.175, 0.885, 0.32, 3);
  transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 3);
  transition: transform 200ms cubic-bezier(0.175, 0.885, 0.32, 3), -webkit-transform 200ms cubic-bezier(0.175, 0.885, 0.32, 3);
  -webkit-transform: scale(1);
          transform: scale(1);
}

#main .card-body-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  -webkit-transition: -webkit-transform 0.2s;
  transition: -webkit-transform 0.2s;
  transition: transform 0.2s;
  transition: transform 0.2s, -webkit-transform 0.2s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  border-radius: inherit;
}

#main .card-body-inner img {
  max-width: 100%;
  height: auto;
}

#main .card-body-inner[data-flipped="true"] {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

#main .card-body-inner[data-flipped="true"] button {
  display: none;
}

#main .card-front, #main .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border-radius: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  padding: 2rem;
  word-wrap: break-word;
  word-break: break-all;
}

#main .card-front h2, #main .card-back h2 {
  font-size: 1rem;
}

#main .card-front {
  background-color: var(--card-bg);
  color: var(--card-font);
  -webkit-transform: translateZ(2rem);
          transform: translateZ(2rem);
}

#main .card-front button {
  position: absolute;
  top: 0;
  right: 0;
  -webkit-transform: translateZ(5rem);
          transform: translateZ(5rem);
  background: transparent;
  padding: 0.25rem 0.5rem;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
  border-radius: 0 0.5rem 0 0.125rem;
}

#main .card-front button:focus {
  outline: none;
  background: var(--card-bg-back);
  color: var(--card-font-back);
}

#main .card-back {
  background-color: var(--card-bg-back);
  color: var(--card-font-back);
  -webkit-transform: rotateY(180deg) translateZ(2rem);
          transform: rotateY(180deg) translateZ(2rem);
}

#btn-theme {
  --inset: 20%;
  padding: 1rem;
  background-color: var(--sky);
  border: none;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  -webkit-transition: -webkit-box-shadow 100ms linear;
  transition: -webkit-box-shadow 100ms linear;
  transition: box-shadow 100ms linear;
  transition: box-shadow 100ms linear, -webkit-box-shadow 100ms linear;
}

#btn-theme:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 0.25rem var(--blurb-bg), 0 0 0 0.5rem var(--link);
          box-shadow: 0 0 0 0.25rem var(--blurb-bg), 0 0 0 0.5rem var(--link);
}

#btn-theme::before {
  position: absolute;
  content: "";
  top: var(--inset);
  left: var(--inset);
  right: var(--inset);
  bottom: var(--inset);
  background: var(--sun-moon);
  border-radius: 50%;
}

#btn-theme::after {
  position: absolute;
  content: "";
  top: var(--inset);
  left: 0;
  right: 45%;
  bottom: var(--inset);
  border-radius: 50%;
  background: inherit;
  -webkit-transform: translateX(-50%) scale(0);
          transform: translateX(-50%) scale(0);
  -webkit-transition: border-radius 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: border-radius 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, border-radius 250ms ease-in-out;
  transition: transform 250ms ease-in-out, border-radius 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

[data-theme="dark"] #btn-theme::after {
  -webkit-transform: translateX(0) scale(1);
          transform: translateX(0) scale(1);
}

[data-theme="contrast"] #btn-theme::after {
  border-radius: 50% 0 0 50%;
  -webkit-transform: translateX(0) scale(1);
          transform: translateX(0) scale(1);
}
/*# sourceMappingURL=style.css.map */