@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  transition-property: background-color;
  transition: 250ms ease-in-out;
}

body[data-theme="light"] {
  --main-bg: rgb(234, 234, 234);
  --header-bg: rgb(223, 223, 223);
  --header-comp-a: rgb(182, 255, 171);
  --header-comp-b: white;
  --logo: black;
  --logo-off: dodgerblue;
  --card-bg: white;
  --card-font: black;
  --card-bg-back: dodgerblue;
  --card-font-back: white;
  --blurb-bg: white;
  --blurb-input-bg: var(--main-bg);
  --blurb-input-text: black;
  --sky: rgb(107, 166, 255);
  --sun-moon: rgb(251, 255, 0);
  --link: dodgerblue;
  --error: red;
}

body[data-theme="dark"] {
  --main-bg: rgb(34, 34, 34);
  --header-bg: rgb(15, 15, 15);
  --header-comp-a: rgb(70, 155, 0);
  --header-comp-b: rgb(125, 78, 0);
  --logo: rgb(255, 255, 255);
  --logo-off: dodgerblue;
  --card-bg: var(--blurb-bg);
  --card-font: rgb(255, 255, 255);
  --card-bg-back: dodgerblue;
  --card-font-back: white;
  --blurb-bg: rgb(29, 38, 41);
  --blurb-input-bg: rgb(40, 49, 53);
  --blurb-text: rgb(255, 255, 255);
  --sky: rgb(18, 11, 35);
  --sun-moon: rgb(254, 255, 196);
  --link: dodgerblue;
  --error: tomato;
}

body[data-theme="contrast"] {
  --main-bg: dodgerblue;
  --header-bg: black;
  --header-comp-a: dodgerblue;
  --header-comp-b: dodgerblue;
  --logo: white;
  --logo-off: dodgerblue;
  --card-bg: white;
  --card-font: black;
  --card-bg-back: black;
  --card-font-back: white;
  --blurb-bg: white;
  --blurb-input-bg: rgb(171, 214, 255);
  --blurb-text: black;
  --sky: dodgerblue;
  --sun-moon: white;
  --link: dodgerblue;
  --error: black;
}

body {
  min-height: 100vh;
  background: var(--main-bg);
}

a {
  color: var(--link);
}

#header {
  background: var(--header-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  @media (min-width: 600px) {
    padding: 1rem 15vw;
  }

  h1 {
    font-family: "Alumni Sans", "Arial", sans-serif;
    color: var(--logo);

    span {
      font-family: inherit;
      color: var(--logo-off);
    }
  }

  ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style-type: none;

    li {
      position: relative;
      margin: 0.5rem;

      & > button {
        background: transparent;
        border: none;
        cursor: pointer;

        &.btn {
          font-family: 'Ubuntu Mono', monospace;
          isolation: isolate;
          color: var(--logo);
          border-radius: 50%;
          width: 2.75rem;
          height: 2.75rem;
          overflow: hidden;
          position: relative;

          &::before {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 50%;
            left: 50%;
            background-color: rgba(0, 0, 0, 0.05);
            transform: translate(-12.5%, -12.5%) rotate(45deg);
            z-index: -1;
          }
        }

        &.new {
          background-color: var(--header-comp-a);
          padding-bottom: 0.25rem;
          font-size: 2rem;
        }

        &.about {
          background-color: var(--header-comp-b);
          font-size: 1.5rem;
          padding-bottom: 0.125rem;
        }
      }
    }
  }
}

.floating-blurb {
  isolation: isolate;
  position: absolute;
  top: calc(100% + 1.5rem);
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  padding: 1rem;
  background: var(--blurb-bg);
  color: var(--blurb-text);
  border-radius: 0.5rem;
  transform: translate(-75%, 0) scale(1);
  box-shadow: 0.25rem 0.25rem 1rem -0.5rem rgba(0, 0, 0, 0.397);
  opacity: 1;
  transition: 200ms ease-in-out;
  transition-property: transform, opacity;
  z-index: 10;

  &[aria-expanded="false"]{
    transform: translate(-50%, -50%) scale(0);
    opacity: 0;
  }

  &::before {
    --dimensions: 1rem;
    width: var(--dimensions);
    height: var(--dimensions);
    
    position: absolute;
    top: -0.5rem;
    left: 75%;
    z-index: -1;

    content: "";

    background: inherit;

    transform: translateX(-50%) rotate(45deg);
  }

  p {
    margin: 1rem;
  }

  .input-submit {
    background: transparent;
    border: none;
    margin-left: auto;
    cursor: pointer;
  }

  .input-group {
    width: 100%;
    position: relative;

    p {
      background: transparent;
      color: var(--error);
      font-size: 0.75rem;
      padding: 0.5rem;
      margin: 0;
    }

    p:empty {
      display: none;
    }

    input {
      width: 25ch;
      padding: 0.5rem;
      border: none;
      background: var(--blurb-input-bg);
      color: var(--blurb-text);
    }

    &::before {
      content: attr(data-tag);
      position: absolute;
      top: 0;
      left: 0.5rem;
      padding: 0.05rem 0.125rem;
      background: var(--blurb-bg);
      color: var(--blurb-input-text);
      font-size: 0.75rem;
      transform: translateY(-50%);
    }
  }
  

  img {
    max-width: 1.5rem !important;
    height: auto;
  }
}

#main {
  padding: 1rem;
  display: grid;
  gap: 0.5rem;
  grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));

  @media (min-width: 600px) {
    padding: 3rem 15vw;
  }

  .card-body-outer {
    width: 100%;
    height: 10rem;
    background: transparent;
    border-radius: 0.5rem;
    perspective: 1000rem;
    cursor: pointer;
    position: relative;
    border: none;

    opacity: 1;
    transition: opacity 200ms ease-in-out;

    &[data-delete="true"] {
      opacity: 0;
    }
  }
  
  .card-body-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.2s;
    transform-style: preserve-3d;
    border-radius: inherit;

    img {
      max-width: 100%;
      height: auto;
    }
  }
  
  .card-body-inner[data-flipped="true"] {
    transform: rotateY(180deg);
  }
  
  .card-front, .card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 2rem;
    word-wrap: break-word;
    word-break: break-all;
  }
  
  .card-front {
    background-color: var(--card-bg);
    color: var(--card-font);
    transform: translateZ(2rem);

    button {
      position: absolute;
      top: 0;
      right: 0;
      transform: translateZ(5rem);
      background: transparent;
      padding: 0.25rem 0.5rem;
      font-size: 1.2rem;
      border: none;
      cursor: pointer;
    }
  }
  
  .card-back {
    background-color: var(--card-bg-back);
    color: var(--card-font-back);
    transform: rotateY(180deg) translateZ(2rem);
  }
}

#btn-theme {
  --inset: 20%;
  padding: 1rem;
  background-color: var(--sky);
  border: none;
  border-radius: 50%;
  position: relative;
  margin: 0 auto;
  cursor: pointer;
  
  &::before {
    position: absolute;
    content: "";
    top: var(--inset);
    left: var(--inset);
    right: var(--inset);
    bottom: var(--inset);
    background: var(--sun-moon);
    border-radius: 50%;
  }

  &::after {
    position: absolute;
    content: "";
    top: var(--inset);
    left: 0;
    right: 45%;
    bottom: var(--inset);
    border-radius: 50%;
    background: inherit;
    transform: translateX(-50%) scale(0);
    transition: transform 250ms ease-in-out, border-radius 250ms ease-in-out;
  }
}

[data-theme="dark"] #btn-theme::after {
  transform: translateX(0) scale(1);
}

[data-theme="contrast"] #btn-theme::after {
  border-radius: 50% 0 0 50%;
  transform: translateX(0) scale(1);
}